
/* box-sizing property allows us to include the padding and border to the total height and width of an element */

*, *::before, *::after {
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center; /* this aligns the entire content rather than just the items */
    min-height: 100vh; /* fills 100% of the height */
    grid-template-columns: repeat(4, 100px); /* 4 columns each 100px wide */
    grid-template-rows: minmax(120px, auto) repeat(5, 100px); /* minmax value added to deal with large numbers in .output */
}

.calculator-grid > button {
    cursor: pointer; 
    font-size: 2rem;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: #ddd;
}

.span-two {
    grid-column: span 2;
}

/* to make this span the entire width, 1 / -1 means: going from column #1 all the way to -1 (which is the last column)
word-wrap and word-break help to break large numbers */
.output {
    grid-column: 1 / -1; 
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output > .previous-operand {
    color:rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output > .current-operand {
    color: white;
    font-size: 2.5rem;
}